.naslov {
    
    Width: 196px;
    Height: 38px;
    
}

.login {
    float: right;
    width: 42px;
    height: 23px;
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3b2f61;
}

.gornji-dio{
    height: 95px;
}